<h1 id="objects-in-c">Objects in C++</h1>
<p>In this lab you will be practing the creation and manipulation of objects of a class called <code>Bird</code>. Before creating objects of any class you should be familiar with the class' documentation, which informs you, among other things, what abstract entity the class is trying to represent and the class' interface, i.e. the functions are available to manipulate the objects of the class.</p>
<p>Please take a look at the Bird class documentation <a href="">here</a></p>
<h2 id="constructors">Constructors</h2>
<p>The first functions of a class interface that you should understand are its <em>constructor functions</em>. In C++, the constructor functions are called the same as the class. The Bird class has two constructors:</p>
<p>Bird (QWidget <em>parent=0) Bird (int, EyeBrowType, QString, QString, QWidget </em>parent=0)</p>
<p>Knowing the constructors helps you understand how you will create objects of the class. Whenever an object of class Bird is created one of the two constructor functions will be invoked, depending on the statement that you use for declaring the object.</p>
<p>The first constructor <code>Bird (QWidget *parent=0)</code> is a function that can be called with 0 or 1 parameters. The class constructor that can be called with 0 parameters is the class' <em>default constructor</em>, i.e. it is the constructor that is called when we create an object using a statement such as this:</p>
<pre><code>Bird hedwig;</code></pre>
<p>Take a look at the documentation for the second constructor <code>Bird (int, EyeBrowType, QString, QString, QWidget *parent=0)</code>. It requires 4 or 5 arguments (the last argument is optional). Therefore, to use this constructor, we would create an object using a statement such as this:</p>
<pre><code>Bird nevermore(200, Bird::UPSET, &quot;blue&quot;, &quot;red&quot;);</code></pre>
<h2 id="setters">Setters</h2>
<p>Classes provide functions to modify the values of object properties once the object has been created. These functions are called <em>setters</em> and there is usually one <em>setter</em> function for each of the properties of the class. The <code>Bird</code> class offers the following setters:</p>
<ul>
<li>void setEyeColor (QString)</li>
<li>void setFaceColor (QString)</li>
<li>void setEyebrow (EyeBrowType)</li>
<li>void setSize (int)</li>
</ul>
<p>The following example code creates an object ('dodo') of class Bird and then changes its size to <code>333</code>.</p>
<pre><code>Bird dodo;
dodo.setSize(333);</code></pre>
<h2 id="getters">Getters</h2>
<p>Classes also provide functions to <em>get</em> the value of an object's property. These functions are called <em>getters</em> and there is usually one <em>getter</em> function for each of the properties of the class. The <code>Bird</code> class offers the following getters:</p>
<ul>
<li>QString getEyeColor ()</li>
<li>QString getFaceColor ()</li>
<li>int getSize ()</li>
<li>EyeBrowType getEyebrow ()</li>
</ul>
<p>The following example code creates an object ('scooter') and prints its size.</p>
<pre><code>Bird scooter;
cout &lt;&lt; scooter.getSize();</code></pre>
<h2 id="additional-functions">Additional functions</h2>
<p>void MainWindow::addBird(int x, int y, Bird &amp;b){ void MainWindow::addBird(Bird &amp;b){</p>
<p>The class <code>Bird</code> is defined so that when an object of class <code>Bird</code> is added to the applications <em>MainWindow</em>, a bird cartoon will be shown in the window. The <em>MainWindow</em> provides two functions to add a bird object to the window:</p>
<ul>
<li>void MainWindow::addBird(int x, int y, Bird &amp;b);</li>
<li>void MainWindow::addBird(Bird &amp;b);</li>
</ul>
<p>The following example code creates an object ('satchel') and adds it to the mainwindow <code>w</code> so that it will be drawn at position (100,150).</p>
<pre class="sourceCode cpp"><code class="sourceCode cpp">MainWindow w;
Bird satchel;
w.addBird(<span class="dv">200</span>,<span class="dv">200</span>,satchel);</code></pre>
<p><img src="http://i.imgur.com/FH7xwDQ.png" width=400></p>
<p><strong>IMPORTANT</strong> You may create as many Bird objects as your computer memory allows, however, none of them will be painted unless you <em>add</em> them to the MainWindow using either of the <code>addBird</code> functions.</p>
<h2 id="creating-and-manipulating-objects">Creating and manipulating objects</h2>
<p>Download the ???? file, build the executable and run. The program will show a window with an empty drawing area (white background).</p>
<p>Let's practice creating birds.</p>
<p>Create a bird called &quot;abelardo&quot; using the default constructor. Then using the setters, set the properties of abelardo to the following: size = 200, eyeBrows = BUSHY, color = &quot;yellow&quot;, eColor = &quot;blue&quot;. Call the <code>addBird()</code> function of the MainWindow so that abelardo is drawn at position (100,100). Build and run your program. Copy your code in the following box once your program runs.</p>
<p>The following figure illustrates the coordinate system used by Qt.</p>
<p>Figure 1. A 400 x 300 window in Qt with some example positions.</p>
<p>The following code creates 30 birds with random properties and draws them in random positions.</p>
<pre class="sourceCode cpp"><code class="sourceCode cpp"><span class="co">//</span>
<span class="co">// Code snippet #1 </span>
<span class="co">//</span>

<span class="dt">const</span> <span class="dt">int</span> N = <span class="dv">30</span>;
Bird birds[N] ;

srand(time(NULL)) ;

<span class="dt">int</span> x, y;
<span class="kw">for</span> (<span class="dt">int</span> i = <span class="dv">0</span>; i &lt; N ; i++ ){
    x = rand() % w.width();
    y = rand() % w.height();
    w.addBird(x, y, birds[i]);
}</code></pre>
<p>Copy the code to the main function, build and run. You should see birds of many colors randomly drawn in the window.</p>
<p>Make the necessary changes so that the birds still have random y positions but are all <em>centered alligned</em> in the window:</p>
<p><img src="http://i.imgur.com/Mqk32pU.png" width=400></p>
<p>When you obtain the expected result, copy your code to the following text box.</p>
<p>Make the necessary changes so now only 16 birds are created (and painted) in a matrix of 4 rows and 4 columns.</p>
<p><img src="http://i.imgur.com/egqLLR0.png" width=400></p>
<p>When you obtain the expected result, copy your code to the following text box.</p>
<p>Now recopy <code>Code snippet #1</code> to the main function so that 100 randomly placed birds are drawn. Test your code.</p>
<p>Implement the function <code>FilterBirds01(birds, N)</code> so that when called only the birds with BUSHY eyeBrows are drawn. Hint: you will achieve this using a loop such as this:</p>
<pre class="sourceCode cpp"><code class="sourceCode cpp"><span class="kw">for</span> (<span class="dt">int</span> i = <span class="dv">0</span>; i &lt; N ; i++ ){
    <span class="kw">if</span> (your condition is met)
       birds[i].hide();
}</code></pre>
<p><img src="http://i.imgur.com/GL6JBYO.png" width=400></p>
<p>Implement the function <code>FilterBirds02(birds, N)</code> so that when called only the birds size smaller than or equal to 150 and whose eyes are red are drawn. Hint: you will achieve this using a loop such as this:</p>
<pre class="sourceCode cpp"><code class="sourceCode cpp"><span class="kw">for</span> (<span class="dt">int</span> i = <span class="dv">0</span>; i &lt; N ; i++ ){
    <span class="kw">if</span> (your condition is met)
       birds[i].hide();
}</code></pre>
<p><img src="http://i.imgur.com/nc3IUVo.png" width=400></p>
